#view_prod_container{
    min-width: 1040px;
    margin-top: 50px;
    margin-bottom: 50px;
}





/* prod_details_section */
#view_prod_container #prod_details_section #prod_img{
    /* border: 1px solid black; */
    background-color: #f7f7f7;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view_prod_container #prod_details_section #prod_img img{
    width: 100%;
    background-size: cover;
}




/* prod_details_section */
#view_prod_container #prod_details_section #prod_details{
    /* border: 1px solid red; */
    height: 520px;
    padding: 20px;
}

#view_prod_container #prod_details_section #prod_details h4{
    font-weight: 600;
}

#view_prod_container #prod_details_section #prod_details p{
    font-size: 13.5px;
    color: #666666;
}

#view_prod_container #prod_details_section #prod_details .view-prod-prices{
    display: flex;
    align-items: center;
}

#view_prod_container #prod_details_section #prod_details .view-prod-prices h5{
    color: #006045;
}

#view_prod_container #prod_details_section #prod_details .view-prod-prices h6{
    margin-left: 15px;
    color: #999999;
    text-decoration: line-through;
}

#view_prod_container #prod_details_section #prod_details .prod-cart-wish{
    display: flex;
    align-items: center;
}

#view_prod_container #prod_details_section #prod_details .prod-cart-wish .prod-cart-btn{
    background-color: #006045;
    color: white;
    border-radius: 0%;
    font-size: 13.5px;
    padding: 8px 30px;
}

#view_prod_container #prod_details_section #prod_details .prod-cart-wish .prod-cart-btn:hover{
    color: #006045;
    background-color: white;
    border: 1px solid #006045;
}

#view_prod_container #prod_details_section #prod_details .prod-cart-wish .prod-wish-btn{
    color: #006045;
    font-size: 19px;
    border: 1px solid #006045;
    border-radius: 0%;
    padding: 4px 10px;
}

#view_prod_container #prod_details_section #prod_details .prod-cart-wish .prod-wish-btn:hover{
    color: white;
    background-color: #006045;
}




#view_prod_container #prod_details_section #prod_details .prod-buy-btn{
    color: #006045;
    border: 1px solid #006045;
    border-radius: 0%;
    font-size: 13.5px;
    padding: 8px 30px;
}

#view_prod_container #prod_details_section #prod_details .prod-buy-btn:hover{
    background-color: #006045;
    color: white;
}




/* Quantity-btn */

#view_prod_container .view-prod-qty{
    display: flex;
    align-items: center;
}

#view_prod_container .view-prod-qty p{
    margin-top: 15px;
}

#view_prod_container .view-prod-qty .Quantity-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(208, 206, 206);
    margin-left: 13px;
    margin-right: 13px;
}


#view_prod_container .view-prod-qty .Quantity-btn input{
    border: none;
    border-radius: 0%;
    text-align: center;
}

#view_prod_container .view-prod-qty .Quantity-btn .btn:hover{
    background-color: rgb(241, 238, 238);
}











/* prod_desc */
#view_prod_container #prod_details_section #prod_desc{
    border: 1px solid blue;
    height: 400px;
}





/* seller_details_section */
/* #view_prod_container #seller_details_section{
    border: 1px solid rgb(0, 208, 255);
} */


/* sold-by */
#view_prod_container #seller_details_section .sold-by{
    text-align: center;
    border: 1px solid #EAECF0;
    border-radius: 0%;
    padding: 20px;
}

#view_prod_container #seller_details_section .sold-by .seller-prod-count{
    font-size: 12px;
    color: #198754;
}

#view_prod_container #seller_details_section .sold-by .store-n-chat{
    display: flex;
    justify-content: center;
    align-items: center;
}

#view_prod_container #seller_details_section .sold-by .store-n-chat .visit-store-btn{
    font-size: 13.5px;
    color: gray;
    border: 1px solid #EAECF0;
    border-radius: 0%;
}

#view_prod_container #seller_details_section .sold-by .store-n-chat .visit-store-btn:hover{
    color: #006045;
    border-color: #006045;
}

#view_prod_container #seller_details_section .sold-by .store-n-chat .chat-btn{
    font-size: 13.5px;
    color: white;
    background-color: #006045;
    border-radius: 0%;
    text-align: center;
    width: 85px;
}


/* share */
#view_prod_container #seller_details_section .share{
    text-align: center;
    border: 1px solid #EAECF0;
    border-radius: 0%;
    padding: 20px;
    margin-top: 40px;
}

#view_prod_container #seller_details_section .share .share-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

#view_prod_container #seller_details_section .share .link a{
    color: black;
}

#view_prod_container #seller_details_section .share .link i{
    font-size: 13px;
}

#view_prod_container #seller_details_section .share .link i:hover{
    color: white;
}

#view_prod_container #seller_details_section .share .link{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #F7F7F7;
    padding: 1px 10px;
}

#view_prod_container #seller_details_section .share .link:hover{
    background-color: #006045;
    color: white;
}







/* related_prod_section */
#view_prod_container #related_prod_section{
    background-color: pink;
    height: 500px;
}









