#about-container{
    margin-bottom: 30px;
}

#about-container .row{
    margin-bottom: 150px;
}

#about-container .about-para{
    color: #999999;
    font-size: 13.5px;
}

#about-container #div1-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-container #div1-right img{
    width: 400px;
}


#about-container #div2-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-container #div2-left img{
    width: 400px;
}


#about-container #div3-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-container #div3-right img{
    width: 400px;
}








