#privacy-policy-container{
    margin-bottom: 30px;
    margin-left: 70px;   
    margin-right: 70px;    
}

#privacy-policy-container .policy-para{
    color: #999999;
    font-size: 13.5px;
}







